# sustainable_products_dataset

### `1. Import Data`

In [18]:
import pandas as pd

data = pd.read_csv("/home/uynk/Belgeler/DataSets/sustainable_products_dataset.csv")

In [19]:
display(data.head())
data.columns

,Product_ID,Product_Name,Category,Material_Type,Manufacturing_Process,Durability,Carbon_Footprint,Energy_Consumption,Water_Usage,Recyclability,...,Functionality_Score,Brand_Value,After_Sales_Service,Consumer_Satisfaction,Is_Optimum,Optimization_Suggestions,Market_Demand,Region,Government_Regulations,Competitor_Benchmark
0,P0001,Bookshelf,Furniture,Wood,Hand-made,7,40.844434,99.883047,157.039745,63.716514,...,8,8,3,6,No,"Reduce CO₂ emissions, Lower price, Improve con...",High,China,5,Similar
1,P0002,Sneakers,Clothing,Composite,Assembly Line,12,47.234872,10.381595,198.481254,65.573336,...,3,7,4,9,Yes,Already optimum,High,EU,3,Better
2,P0003,Moisturizing Cream,Cosmetics,Organic,Assembly Line,7,12.673586,41.875281,190.032680,96.906883,...,8,3,1,4,Yes,Already optimum,High,China,2,Similar
3,P0004,Vegan Protein Bar,Food,Organic,Recycled,2,24.132014,111.891415,115.701564,12.818196,...,7,9,8,5,No,"Reduce CO₂ emissions, Improve recyclability, L...",High,China,2,Better
4,P0005,Cotton T-Shirt,Clothing,Organic,Hand-made,8,21.053900,147.657910,110.825736,22.683180,...,8,8,3,1,No,"Reduce CO₂ emissions, Improve recyclability, L...",High,China,8,Similar

Index(['Product_ID', 'Product_Name', 'Category', 'Material_Type',
       'Manufacturing_Process', 'Durability', 'Carbon_Footprint',
       'Energy_Consumption', 'Water_Usage', 'Recyclability',
       'Biodegradability', 'Sustainable_Materials', 'Waste_Generation',
       'Price', 'Aesthetics_Score', 'Functionality_Score', 'Brand_Value',
       'After_Sales_Service', 'Consumer_Satisfaction', 'Is_Optimum',
       'Optimization_Suggestions', 'Market_Demand', 'Region',
       'Government_Regulations', 'Competitor_Benchmark'],
      dtype='object')

In [3]:
data.isna == True

False

### `2. Data Preprocessing`

Tek bir değişkenin frekanslarına bakmamızdan daha ziyade 3,4,5 belki daha fazla categoric değişkenin beraber frekanslarına bakmamız, bizim W&D modelinde Wide kısmına ekleyeceğimiz değişkenleri belirlememizde çok daha önemli.

In [4]:
# Kategorik değişkenlerin grup sayıları
columns = {}

for col_name in data.columns:
    if data[col_name].dtype == "O":
        columns[col_name] = data[col_name].nunique()

for col, count in columns.items():
    print(f"{col}: {count}")

Product_ID: 52425
Product_Name: 29
Category: 5
Material_Type: 6
Manufacturing_Process: 4
Is_Optimum: 2
Optimization_Suggestions: 32
Market_Demand: 3
Region: 4
Competitor_Benchmark: 3

In [5]:
obj_list = list(columns.keys())

remove_list = ["Product_ID","Product_Name","Optimization_Suggestions"]
obj_list = [col for col in obj_list if col not in remove_list]
obj_list

['Category',
 'Material_Type',
 'Manufacturing_Process',
 'Is_Optimum',
 'Market_Demand',
 'Region',
 'Competitor_Benchmark']

### `3. Data Cleaning`

In [6]:
obj_data = data[obj_list]

In [7]:
num_data = data.drop(columns=obj_list + ["Product_ID", "Product_Name","Optimization_Suggestions"]) 
num_data = num_data.drop(["Biodegradability"], axis=1)
obj_data["Biodegradability"] = data["Biodegradability"]

/tmp/ipykernel_26220/1430388488.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obj_data["Biodegradability"] = data["Biodegradability"]

In [8]:
display(obj_data.head()) # 7 değişken var.
num_data.head() # 15 değişken var.

,Category,Material_Type,Manufacturing_Process,Is_Optimum,Market_Demand,Region,Competitor_Benchmark,Biodegradability
0,Furniture,Wood,Hand-made,No,High,China,Similar,1
1,Clothing,Composite,Assembly Line,Yes,High,EU,Better,1
2,Cosmetics,Organic,Assembly Line,Yes,High,China,Similar,1
3,Food,Organic,Recycled,No,High,China,Better,1
4,Clothing,Organic,Hand-made,No,High,China,Similar,0

,Durability,Carbon_Footprint,Energy_Consumption,Water_Usage,Recyclability,Sustainable_Materials,Waste_Generation,Price,Aesthetics_Score,Functionality_Score,Brand_Value,After_Sales_Service,Consumer_Satisfaction,Government_Regulations
0,7,40.844434,99.883047,157.039745,63.716514,15.599452,2.684425,434.426311,4,8,8,3,6,5
1,12,47.234872,10.381595,198.481254,65.573336,52.475643,13.526406,152.702279,10,3,7,4,9,3
2,7,12.673586,41.875281,190.032680,96.906883,38.541650,1.463021,123.137975,7,8,3,1,4,2
3,2,24.132014,111.891415,115.701564,12.818196,77.513282,28.245469,448.465402,8,7,9,8,5,2
4,8,21.053900,147.657910,110.825736,22.683180,16.526694,1.453456,217.466726,1,8,8,3,1,8

### `4. Data Manipulation`

In [9]:
import pandas as pd
data_cur = pd.concat([num_data, obj_data], axis=1)
data_cur.head()

,Durability,Carbon_Footprint,Energy_Consumption,Water_Usage,Recyclability,Sustainable_Materials,Waste_Generation,Price,Aesthetics_Score,Functionality_Score,...,Consumer_Satisfaction,Government_Regulations,Category,Material_Type,Manufacturing_Process,Is_Optimum,Market_Demand,Region,Competitor_Benchmark,Biodegradability
0,7,40.844434,99.883047,157.039745,63.716514,15.599452,2.684425,434.426311,4,8,...,6,5,Furniture,Wood,Hand-made,No,High,China,Similar,1
1,12,47.234872,10.381595,198.481254,65.573336,52.475643,13.526406,152.702279,10,3,...,9,3,Clothing,Composite,Assembly Line,Yes,High,EU,Better,1
2,7,12.673586,41.875281,190.032680,96.906883,38.541650,1.463021,123.137975,7,8,...,4,2,Cosmetics,Organic,Assembly Line,Yes,High,China,Similar,1
3,2,24.132014,111.891415,115.701564,12.818196,77.513282,28.245469,448.465402,8,7,...,5,2,Food,Organic,Recycled,No,High,China,Better,1
4,8,21.053900,147.657910,110.825736,22.683180,16.526694,1.453456,217.466726,1,8,...,1,8,Clothing,Organic,Hand-made,No,High,China,Similar,0

In [114]:
# Ordinal değişkenlerin hiyerarşisini belirt.!!!!!!

import pandas as pd

# Değişkeni kategorik ve sıralı (ordinal) yapıyoruz
data_cur['Durability'] = data_cur['Durability'].astype(pd.CategoricalDtype(ordered=True))
data_cur["Aesthetics_Score"] = data_cur["Aesthetics_Score"].astype(pd.CategoricalDtype(ordered=True))
data_cur["Functionality_Score"] = data_cur["Functionality_Score"].astype(pd.CategoricalDtype(ordered=True))
data_cur['Brand_Value'] = data_cur['Brand_Value'].astype(pd.CategoricalDtype(ordered=True))
data_cur['After_Sales_Service'] = data_cur['After_Sales_Service'].astype(pd.CategoricalDtype(ordered=True))
data_cur['Consumer_Satisfaction'] = data_cur['Consumer_Satisfaction'].astype(pd.CategoricalDtype(ordered=True))
data_cur["Government_Regulations"] = data_cur["Government_Regulations"].astype(pd.CategoricalDtype(ordered=True))
data_cur['Market_Demand'] = data_cur['Market_Demand'].astype(pd.CategoricalDtype(ordered=True))
data_cur['Category'] = data_cur['Category'].astype("category")
data_cur['Material_Type'] = data_cur['Material_Type'].astype("category")
data_cur['Manufacturing_Process'] = data_cur['Manufacturing_Process'].astype("category")
data_cur['Is_Optimum'] = data_cur['Is_Optimum'].astype("category")
data_cur['Market_Demand'] = data_cur['Market_Demand'].astype(pd.CategoricalDtype(ordered=True))
data_cur['Competitor_Benchmark'] = data_cur['Competitor_Benchmark'].astype(pd.CategoricalDtype(ordered=True))
data_cur['Biodegradability'] = data_cur['Biodegradability'].astype("category")
data_cur['Region'] = data_cur['Region'].astype("category")

In [38]:
data_cur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52425 entries, 0 to 52424
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Durability              52425 non-null  int64
 1   Carbon_Footprint        52425 non-null  float64
 2   Energy_Consumption      52425 non-null  float64
 3   Water_Usage             52425 non-null  float64
 4   Recyclability           52425 non-null  float64
 5   Sustainable_Materials   52425 non-null  float64
 6   Waste_Generation        52425 non-null  float64
 7   Price                   52425 non-null  float64
 8   Aesthetics_Score        52425 non-null  category
 9   Functionality_Score     52425 non-null  int64
 10  Brand_Value             52425 non-null  category
 11  After_Sales_Service     52425 non-null  int64
 12  Consumer_Satisfaction   52425 non-null  int64
 13  Government_Regulations  52425 non-null  int64
 14  Category                52425 non-null  object
 15  Material_Type           52425 non-null  object
 16  Manufacturing_Process   52425 non-null  object
 17  Is_Optimum              52425 non-null  object
 18  Market_Demand           52425 non-null  object
 19  Region                  52425 non-null  object
 20  Competitor_Benchmark    52425 non-null  object
 21  Biodegradability        52425 non-null  int64
dtypes: category(2), float64(7), int64(6), object(7)
memory usage: 8.1+ MB

Her veri setinin kendine öz bir hikayesi vardır. Veri manipülasyonu sırasında değişken türlerinin değişimi konusunda kesin yargılarda bulunmaktan ziyade insanların istedikleri değişkenleri kolayca seçip değiştirebilecekleri bir class yazmayı amaçlıyorum.

In [39]:
import pandas as pd
from ipywidgets import interact, widgets
from IPython.display import clear_output

class transform():
    def __init__(self, data):
        self.data_dict = data.to_dict(orient="list") # orient parametresi sözlük içerisindeki değişken değerlerini listelemeye yarar.
        self.raw_data = data

class manipulations():
    def __init__(self, new_data):
        self.data_dict = new_data.data_dict
        self.raw_data = new_data.raw_data
        self.success_label = widgets.Label(value="")
        
    def get_col_inf(self, col_name): # değişkenin mini informationları
        clear_output(wait=True)
        display(f"Seçtiğiniz değişken =→ {col_name}") # değişkenin ismi 
        print("ilk 7 değer")
        display(self.data_dict.get(col_name)[:7]) # değişkenin ilk 5 değeri
        print(f"Değişkenin tipi {self.raw_data[col_name].dtypes}")
    
    def change_data_type(self, col_name, new_type):
        try:
            if new_type == "integer":
                self.raw_data[col_name] = self.raw_data[col_name].astype(int)
            elif new_type == "float 64":
                self.raw_data[col_name] = self.raw_data[col_name].astype(float)
            elif new_type == "string":
                self.raw_data[col_name] = self.raw_data[col_name].astype(str)
            elif new_type == "boolean":
                self.raw_data[col_name] = self.raw_data[col_name].astype(bool)
            elif new_type == "datetime":
                self.raw_data[col_name] = pd.to_datetime(self.raw_data[col_name])
            elif new_type == "category(nominal)":
                self.raw_data[col_name] = self.raw_data[col_name].astype("category")
            elif new_type == "category(ordinal)":
                self.raw_data[col_name] = self.raw_data[col_name].astype(pd.CategoricalDtype(ordered=True))
            
            self.success_label.value = f"Success! Your choice: {col_name} is now {new_type}"
            
            print(f"Column '{col_name}' successfully converted to {new_type}.")
        
        except Exception as e:
            print(f"Error converting column '{col_name}' to {new_type}: {e}")
    
    def run_interact(self):  # Interactive interface
        interact(self.get_col_inf, col_name=list(self.raw_data.columns))
    
    def run_type_selector(self): 
        self.col_dropdown = widgets.Dropdown(options = list(self.raw_data.columns),
                         description = "Be Changed")
        
        self.type_dropdown = widgets.Dropdown(options = ["integer","float","factor","string","boolean",
                                                    "datetime","category(nominal)","category(ordinal)"],
                                         description = "Changing to")
        
        self.apply_button = widgets.Button(description = "Apply ✅", button_style = "success")
        
        self.apply_button.on_click(self.on_apply_clicked) # butona tıklandığında yani apply_button da hangi fonksiyonun çalışacağını Pythona söyler.
        
        display(widgets.VBox([self.col_dropdown, self.type_dropdown, self.apply_button, self.success_label]))
    
    def on_apply_clicked(self, b): # Butona tıklandığında devreye giren aksion kısmıdır. 
        self.change_data_type(self.col_dropdown.value, self.type_dropdown.value)




data1 = transform(data_cur)
manp = manipulations(data1)
manp.run_interact()  # View column information
manp.run_type_selector()  # Select column and data type

interactive(children=(Dropdown(description='col_name', options=('Durability', 'Carbon_Footprint', 'Energy_Cons…

VBox(children=(Dropdown(description='Be Changed', options=('Durability', 'Carbon_Footprint', 'Energy_Consumpti…

### `4. Data Cleaning`

In [7]:
num_data = data.drop(columns=obj_list + ["Product_ID", "Product_Name","Optimization_Suggestions"])
num_data = num_data.drop(["Biodegradability"], axis=1)
obj_data["Biodegradability"] = data["Biodegradability"]

/tmp/ipykernel_3006/2071024417.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obj_data["Biodegradability"] = data["Biodegradability"]

### `4. EDA`

Bu aşamayı oluşturmamdaki amacım, Wide and Deep modeli ile is_Optimum değişkeni değerlerini tahmin etmek olduğu için. Bir yandan da başka veri başka modeller için uygun mu değil mi bunu anlamak için EDA süreci üzerinde inceleyeceğim.

#### `Kategorik değişkenlerde 3'lü kombinasyon şeklinde en çok tekrar eden değerleri içeren değişkenler`

In [10]:
from itertools import combinations

Combination_list = list(combinations(obj_list, 3))


results = []

for grup in Combination_list:
    most_freq = data[list(grup)].value_counts().idxmax()
    most_freq_val = data[list(grup)].value_counts().max()
    
    results.append({"Grup": grup,
                    "most_freq": most_freq,
                    "most_freq_val": most_freq_val})

analysis_table3 = pd.DataFrame(results)
analysis_table3.sort_values(by="most_freq_val", ascending=False).head()

,Grup,most_freq,most_freq_val
0,"(Category, Material_Type, Manufacturing_Process)","(Food, Organic, Recycled)",8964
5,"(Category, Manufacturing_Process, Is_Optimum)","(Electronics, Assembly Line, No)",6160
1,"(Category, Material_Type, Is_Optimum)","(Clothing, Organic, No)",6071
15,"(Material_Type, Manufacturing_Process, Is_Opti...","(Organic, Hand-made, No)",6071
21,"(Material_Type, Is_Optimum, Competitor_Benchmark)","(Organic, No, Better)",5782

#### `Kategorik değişkenlerde 2'li kombinasyon şeklinde en çok tekrar eden değerleri içeren değişkenler`

In [11]:
from itertools import combinations

Combination_list = list(combinations(obj_list, 2))


results = []

for grup in Combination_list:
    most_freq = data[list(grup)].value_counts().idxmax()
    most_freq_val = data[list(grup)].value_counts().max()
    
    results.append({"Grup": grup,
                    "most_freq": most_freq,
                    "most_freq_val": most_freq_val})

analysis_table2 = pd.DataFrame(results)
analysis_table2.sort_values(by="most_freq_val", ascending=False)[:7] # En çok tekrar eden değişkenler (Is_Optimum, Optimization_Suggestions)
                                                                       # Tekrar değeri ise 52425 gözlem içerisinde 16958. 
                                                                       # Fakat burada seçilmesi gereken Kategori ve üretim sürecidir. Çünkü modelimizde
                                                                       # hedef değişkenimiz Optimum olup olmadığıdır.

,Grup,most_freq,most_freq_val
7,"(Material_Type, Is_Optimum)","(Organic, No)",16914
11,"(Manufacturing_Process, Is_Optimum)","(Assembly Line, No)",15928
17,"(Is_Optimum, Competitor_Benchmark)","(No, Better)",11986
15,"(Is_Optimum, Market_Demand)","(No, Medium)",11877
1,"(Category, Manufacturing_Process)","(Electronics, Assembly Line)",9139
16,"(Is_Optimum, Region)","(No, India)",9008
6,"(Material_Type, Manufacturing_Process)","(Organic, Recycled)",8964

In [12]:
hedef_satir = analysis_table2[analysis_table2["most_freq"] == ("Electronics", "Assembly Line")] 

Wide_Variables = list(hedef_satir["Grup"].values[0])
Wide_Variables # Bu elde ettiğimiz 2 değişkeni modelin memory kısmında kullanacağız.

['Category', 'Manufacturing_Process']

In [17]:
display(obj_data.head()) # 7 değişken var.
display(len(obj_data.columns))
display(num_data.head()) # 15 değişken var.
display(len(num_data.columns))

,Category,Material_Type,Manufacturing_Process,Is_Optimum,Market_Demand,Region,Competitor_Benchmark,Biodegradability
0,Furniture,Wood,Hand-made,No,High,China,Similar,1
1,Clothing,Composite,Assembly Line,Yes,High,EU,Better,1
2,Cosmetics,Organic,Assembly Line,Yes,High,China,Similar,1
3,Food,Organic,Recycled,No,High,China,Better,1
4,Clothing,Organic,Hand-made,No,High,China,Similar,0

8

,Durability,Carbon_Footprint,Energy_Consumption,Water_Usage,Recyclability,Sustainable_Materials,Waste_Generation,Price,Aesthetics_Score,Functionality_Score,Brand_Value,After_Sales_Service,Consumer_Satisfaction,Government_Regulations
0,7,40.844434,99.883047,157.039745,63.716514,15.599452,2.684425,434.426311,4,8,8,3,6,5
1,12,47.234872,10.381595,198.481254,65.573336,52.475643,13.526406,152.702279,10,3,7,4,9,3
2,7,12.673586,41.875281,190.032680,96.906883,38.541650,1.463021,123.137975,7,8,3,1,4,2
3,2,24.132014,111.891415,115.701564,12.818196,77.513282,28.245469,448.465402,8,7,9,8,5,2
4,8,21.053900,147.657910,110.825736,22.683180,16.526694,1.453456,217.466726,1,8,8,3,1,8

14

### `Dağılım incelemeleri`

In [ ]:
import seaborn as sns

sns.pairplot(data_cur)

**`Wide and Deep Datasets`**

In [14]:
wide_features = data[Wide_Variables].values 
deep_features = data.drop(columns=Wide_Variables)
y_target = data["Is_Optimum"].values

col_wide_features = wide_features.shape[1]
col_deep_features = deep_features.shape[1]

col_wide_features, col_deep_features

(2, 23)

### `Train Test Split`

In [ ]:
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(data_cur, test_size=0.20, random_state=42) 
print(len(train_data))
print(len(test_data))

41940
10485

### `Wide and Deep Model`

In [ ]:
import keras
from tensorflow.keras import Input, layers, Model